.input-container{
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 8px 16px;
  background: #fff;
  font-size: 12px;
  color: #5b747b;
  flex-direction: column;
  justify-content: center;
  input {
    width: 100%;
    border: none;
    &:focus {
      outline: none;
    }
  }
}

.invalid-input {
  border: 1px solid red;
  border-radius: 8px;
}

.focused {
  border: 1px solid #94bee3;
}
