<table>
  <thead>
    <tr>
      <th *ngFor="let header of headers"> {{ header }}</th>
      <th *ngIf="actionButtons" [colSpan]="actionButtons.length"> Műveletek</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let cell of Object.values(row)">
        <ng-container *ngIf="isBoolean(cell); then checkbox; else text;">{{ cell }}</ng-container>
        <ng-template #checkbox><input type="checkbox" [checked]="cell" [disabled]="true"/></ng-template>
        <ng-template #text>{{cell}}</ng-template>
      </td>
      <td *ngFor="let action of actionButtons">
        <app-button [iconName]="action"/>
      </td>
    </tr>
  </tbody>
</table>
<!--TODO: pager + checkbox component-->
