<ng-container *ngIf="data.length > 0; then table; else empty"></ng-container>
<ng-template #table>
  <app-button [iconName]="faPlus" [label]="'Létrehozás'" (onClick)="mainButtonClicked.emit()"/>
  <table>
    <thead>
    <tr>
      <th *ngFor="let header of headers"> {{ header.displayName }}</th>
      <th *ngIf="actionButtons" [colSpan]="actionButtons.length" class="actions"> Műveletek</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of shownTableData; let i = index" [ngStyle]="{'visibility':Math.floor(i / 5) === pageCounter ? 'visible' : 'none'}">
      <td *ngFor="let headerCell of headers">
        <ng-container *ngIf="isBoolean(findCell(headerCell.key, row)); then checkbox; else text;"></ng-container>
        <ng-template #checkbox>
          <fa-icon [icon]="findCell(headerCell.key, row) ? faCircleCheck : faCircleXmark" size="xl"/>
        </ng-template>
        <ng-template #text>
          {{ findCell(headerCell.key, row) }}
        </ng-template>
      </td>
      <td *ngFor="let action of actionButtons">
        <app-button [iconName]="action" class="action-button" (onClick)="actionButtonHandler(action.iconName, row)"/>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="pager">
    <app-button [iconName]="faChevronLeft" (onClick)="turnPage((-1))" [disabled]="pageCounter === 1"/>
    {{pageCounter}}. oldal
    <app-button [iconName]="faChevronRight" (onClick)="turnPage(1)" [disabled]="pageCounter >= data.length / 5"/>
  </div>
</ng-template>

<ng-template #empty>
  <div class="empty">
    <fa-icon [icon]="faFaceSadCry" size="8x"/>
    <b class="title">Nincs felhasználó</b>
    <p>Eddig még nincs egyetlen megjelenítendő felhasználó sem.</p>
    <app-button [label]="'Új felhasználó hozzáadása'" [iconName]="faPlus" (onClick)="mainButtonClicked.emit()"></app-button>
  </div>
</ng-template>
